@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin grids($col) {
    width: calc((100% - (#{$col - 1} * #{$gutter-horizontal})) / #{$col});
        background-color: orangered;
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
}